.sidebar {
  width: 80%;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transform: translateX(-110%);
  border-radius: 0 var(--borderRadiusXXL) var(--borderRadiusXXL) 0;
  background-color: var(--colorPrimary);
  padding: var(--spacingL);
  box-shadow: var(--colorPrimary) 0px 12px 28px 0px, var(--colorPrimary) 0px 2px 4px 0px;

  @screen lg {
    width: 300px;
    transform: unset;
    border-radius: 0;
    background-color: unset;
    position: relative;
    box-shadow: none;
  }

  .sidebar__inner {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
  }

  .sidebar-collapse-icon {
    display: none !important;
    position: absolute !important;
    top: 25%;
    width: 36px;
    height: 36px;
    right: -18px;
    // transform: translateX(-50%);
    background-color: var(--colorGrey) !important;
    border-radius: var(--borderRadiusFull);
    //box-shadow
    box-shadow: var(--colorPrimary) 0px 0px 16px 0px, var(--colorPrimary) 0px 0px 6px 0px;

    svg {
      font-size: var(--fontXXXL);
      fill: var(--colorPrimary);
    }

    @screen lg {
      display: flex !important;
      align-items: center;
      justify-content: center;
      z-index: 1500;
    }
  }

  .sidebar-drawer-close {
    width: 20px;
    height: 20px;
    padding: 10px;

    @screen lg {
      display: none;
    }
  }

  .sidebar__header {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

    @screen lg {
      // margin-bottom: var(--spacingL);
    }

    .sidebar__header-title {
      font-size: var(--fontXXL);
      font-family: var(--fontSecondary);
      font-weight: bold;
      color: var(--colorWhite);
      letter-spacing: 0.1rem;

      @screen lg {
        font-size: var(--fontXXXL);
      }
    }
  }

  .sidebar__add-wallet {
    width: 100%;
    box-shadow: rgba(var(--colorSecondaryRGB), 0.2) 0px 6px 5px,
      rgba(var(--colorSecondaryRGB), 0.3) 0px 6px 6px;
    display: flex !important;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 7px 15px;
    font-family: var(--fontPrimary);
    border-radius: 6px;
    min-width: unset;

    @screen lg {
      padding: 10px 15px;
    }
    // background-color: #fcf3af;

    &:hover {
      box-shadow: rgba(var(--colorSecondaryRGB), 0.2) 0px 6px 5px,
        rgba(var(--colorSecondaryRGB), 0.3) 0px 6px 6px;
      background-color: #fbee8e;
    }

    .add-wallet__icon {
      width: 22px;
      height: 22px;
      background-color: var(--colorPrimary);
      padding: 3px;
      border-radius: var(--borderRadiusFull);

      path {
        fill: var(--colorWhite);
      }

      @screen lg {
        width: 24px;
        height: 24px;
      }
    }

    .add-wallet__text {
      color: var(--colorPrimary);
      font-size: var(--fontM);
      font-weight: bold;
      white-space: nowrap;

      @screen lg {
        font-size: var(--fontL);
      }
    }
  }

  .sidebar__main-navigation {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    gap: var(--spacingL);
    font-size: var(--fontPrimary);

    @screen lg {
      gap: var(--spacingXL);
    }
  }

  .sidebar__link {
    display: flex;
    position: relative;
    transition: color 200ms ease-in-out;
    color: var(--colorWhite);
    height: 30px;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   left: -10px;
    //   transition: opacity 200ms ease-in-out;
    //   width: 3px;
    //   height: 100%;
    //   background-color: var(--colorSecondary);
    //   opacity: 0;
    //   border-radius: var(--borderRadiusFull);
    // }

    // &.active::before {
    //   opacity: 1;
    // }

    &.active {
      color: var(--colorSecondary);
    }
  }

  .sidebar__link-icon {
    font-size: var(--fontXXL);
    display: inline-block;
    height: 30px;

    @screen lg {
      font-size: var(--fontXXXL);
      height: 36px;
    }
  }

  .sidebar__link-text {
    margin-left: var(--spacingM);
    font-size: var(--fontL);
    line-height: 30px;

    @screen lg {
      margin-left: var(--spacingL);
      font-size: var(--fontXL);
      line-height: 36px;
    }
  }

  .sidebar__nav-divider {
    width: 100%;
    background-color: var(--colorWhite);
    height: 2px;
    border-radius: var(--borderRadiusFull);
  }

  .sidebar__logout-inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .sidebar__logout {
    display: flex !important;
    align-items: center;
    font-size: var(--fontM);
    text-align: left;
    padding: 0;
    color: var(--colorWhite);

    @screen lg {
      font-size: var(--fontL);
    }

    .logout-icon__wrapper {
      background-color: var(--colorWhite);
      padding: var(--spacingM);
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--borderRadiusFull);

      .logout-icon {
        color: var(--colorPrimary);
      }

      @screen lg {
        width: 30px;
        height: 30px;
      }
    }

    .logout-text {
      margin-left: var(--spacingM);
      flex: 1;
    }
  }
}

.sidebar-backdrop {
  background-color: rgba(var(--colorBlackRGB), 0.3);
  width: 100%;
  height: 100%;
  position: fixed;

  @screen lg {
    display: none;
  }
}

.sidebar-drawer-icon {
  position: fixed !important;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--colorPrimary) !important;
  color: var(--colorWhite);
  border-radius: var(--borderRadiusFull);

  svg {
    fill: var(--colorWhite);
  }

  @screen lg {
    display: none !important;
  }
}

.sidebar-animation-enter {
  transform: translateX(-110%);

  @screen lg {
    transform: none;
    width: 300px;

    .sidebar__link-text {
      overflow: hidden;
      width: 100%;
    }

    .sidebar__header-title {
      overflow: hidden;
      width: 100%;
    }

    .add-wallet__text {
      width: 100%;
    }
  }
}

.sidebar-animation-enter-active {
  transition: transform 400ms ease-in-out;
  transform: translateX(0%);

  @screen lg {
    transition: width 400ms ease-in-out;
    transform: none;
    width: 100px;

    .sidebar__link-text {
      overflow: hidden;
      transition: width 400ms ease-in-out;
      width: 0px;
    }

    .sidebar__header-title {
      overflow: hidden;
      transition: width 400ms ease-in-out;
      width: 0px;
    }

    .add-wallet__text {
      transition: width 400ms ease-in-out;
      width: 0px;
    }
  }
}

.sidebar-animation-enter-done {
  transform: translateX(0%);

  @screen lg {
    width: 100px;

    .sidebar__link-text {
      display: none;
      width: 0px;
      overflow: hidden;
    }

    .sidebar__link {
      justify-content: center;
    }

    .sidebar__header-title {
      display: none;
      width: 0px;
      overflow: hidden;
    }

    .add-wallet__text {
      display: none;
      width: 0px;
    }
  }
}

.sidebar-animation-exit {
  transform: translateX(0%);

  @screen lg {
    width: 100px;

    .sidebar__link-text {
      display: none;
      width: 0px;
      overflow: hidden;
    }

    .sidebar__link {
      justify-content: center;
    }

    .sidebar__header-title {
      display: none;
      width: 0px;
      overflow: hidden;
    }

    .add-wallet__text {
      display: none;
      width: 0px;
    }
  }
}

.sidebar-animation-exit-active {
  transition: transform 400ms;
  transform: translateX(-110%);

  @screen lg {
    transition: width 400ms ease-in-out;
    transform: none;
    width: 300px;

    .sidebar__link-text {
      display: inherit;
      transition: width 400ms ease-in-out;
      width: 100%;
      overflow: hidden;
    }

    .sidebar__link {
      justify-content: initial;
    }

    .sidebar__header-title {
      display: inherit;
      transition: width 400ms ease-in-out;
      width: 100%;
      overflow: hidden;
    }

    .add-wallet__text {
      display: inherit;
      transition: width 400ms ease-in-out;
      width: 100%;
    }
  }
}

.sidebar-animation-exit-done {
  transform: translateX(-110%);

  @screen lg {
    transform: none;
    width: 300px;

    .sidebar__link-text {
      overflow: hidden;
      width: 100%;
    }

    .sidebar__header-title {
      overflow: hidden;
      width: 100%;
    }

    .add-wallet__text {
      width: 100%;
    }
  }
}
