.sidebar {
  width: 80%;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transform: translateX(-110%);
  border-radius: 0 var(--borderRadiusXXL) var(--borderRadiusXXL) 0;
  background-color: var(--colorPrimary);
  padding: var(--spacingL);
  box-shadow: var(--colorPrimary) 0px 12px 28px 0px, var(--colorPrimary) 0px 2px 4px 0px;

  @screen lg {
    width: 300px;
    transform: unset;
    border-radius: 0;
    background-color: unset;
    position: relative;
    box-shadow: none;
  }

  .sidebar__inner {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
  }

  .sidebar-collapse-icon {
    display: none !important;
    position: absolute !important;
    top: 25%;
    width: 36px;
    height: 36px;
    right: -18px;
    background-color: var(--colorGrey) !important;
    border-radius: var(--borderRadiusFull);
    box-shadow: var(--colorPrimary) 0px 0px 16px 0px, var(--colorPrimary) 0px 0px 6px 0px;

    svg {
      font-size: var(--fontXXXL);
      fill: var(--colorPrimary);
    }

    @screen lg {
      display: flex !important;
      align-items: center;
      justify-content: center;
      z-index: 1500;
    }
  }

  .sidebar-drawer-close {
    width: 20px;
    height: 20px;
    padding: 10px;

    @screen lg {
      display: none;
    }
  }

  .sidebar__skeleton {
    margin-bottom: var(--spacingL);
    background-color: var(--colorWhite);
  }
}

.sidebar__tooltip {
  background-color: var(--colorGrey) !important;
  color: var(--colorPrimary) !important;
  font-size: var(--fontM) !important;
  border-radius: 6px !important;
  font-family: var(--fontPrimary) !important;
  font-weight: bold !important;
  box-shadow: var(--colorPrimary) 0px 0px 16px 0px, var(--colorPrimary) 0px 0px 6px 0px;

  .MuiTooltip-arrow::before {
    background-color: var(--colorGrey) !important;
    box-shadow: var(--colorPrimary) 0px 0px 16px 0px, var(--colorPrimary) 0px 0px 6px 0px;
  }
}

.sidebar-backdrop {
  background-color: rgba(var(--colorBlackRGB), 0.3);
  width: 100%;
  height: 100%;
  position: fixed;

  @screen lg {
    display: none;
  }
}

.sidebar-drawer-icon {
  position: fixed !important;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--colorPrimary) !important;
  color: var(--colorWhite);
  border-radius: var(--borderRadiusFull);
  box-shadow: var(--colorPrimary) 0px 0px 16px 0px, var(--colorPrimary) 0px 0px 6px 0px;

  svg {
    fill: var(--colorWhite);
  }

  @screen lg {
    display: none !important;
  }
}

.sidebar-animation-enter {
  transform: translateX(-110%);

  @screen lg {
    transform: none;
    width: 300px;

    .sidebar-navigation__link-text {
      overflow: hidden;
      width: 100%;
    }

    .sidebar-header-title {
      overflow: hidden;
      width: 100%;
    }

    .add-wallet__text {
      width: 100%;
    }

    .logout-text {
      width: 100%;
    }

    .wallet-dropdown__value {
      width: 100%;
    }

    .sidebar-empty-state__outer {
      display: block;
    }

    .sidebar-empty-state__title {
      display: block;
    }

    .sidebar-empty-state__collapsed-button {
      display: none !important;
    }
  }
}

.sidebar-animation-enter-active {
  transition: transform 400ms ease-in-out;
  transform: translateX(0%);

  @screen lg {
    transition: width 400ms ease-in-out;
    transform: none;
    width: 100px;

    .sidebar-navigation__link-text {
      overflow: hidden;
      transition: width 400ms ease-in-out;
      width: 0px;
    }

    .sidebar-header-title {
      overflow: hidden;
      transition: width 400ms ease-in-out;
      width: 0px;
    }

    .add-wallet__text {
      transition: width 400ms ease-in-out;
      width: 0px;
    }

    .logout-text {
      transition: width 400ms ease-in-out;
      width: 0px;
    }

    .wallet-dropdown__value {
      transition: width 400ms ease-in-out;
      width: 0px;
    }

    .sidebar-empty-state__outer {
      display: none;
    }

    .sidebar-empty-state__title {
      display: none;
    }

    .sidebar-empty-state__collapsed-button {
      display: block !important;
    }
  }
}

.sidebar-animation-enter-done {
  transform: translateX(0%);

  @screen lg {
    width: 100px;

    .sidebar-navigation__link-text {
      display: none;
      width: 0px;
      overflow: hidden;
    }

    .sidebar-navigation__link {
      justify-content: center;
    }

    .sidebar-header-title {
      display: none;
      width: 0px;
      overflow: hidden;
    }

    .sidebar__add-wallet {
      justify-content: center;
    }

    .add-wallet__text {
      display: none;
      width: 0px;
    }

    .sidebar-footer__logout {
      justify-content: center;
    }

    .logout-text {
      display: none;
      width: 0px;
    }

    .wallet-dropdown {
      .MuiSelect-select {
        padding-right: 0px !important;
      }

      .MuiInputBase-input {
        justify-content: center !important;
        padding-right: 15px !important;
      }

      .MuiSelect-icon {
        display: none;
      }
    }

    .wallet-dropdown__value {
      display: none;
      width: 0px;
    }

    .sidebar-empty-state__outer {
      display: none;
    }

    .sidebar-empty-state__title {
      display: none;
    }

    .sidebar-empty-state__collapsed-button {
      display: block !important;
    }
  }
}

.sidebar-animation-exit {
  transform: translateX(0%);

  @screen lg {
    width: 100px;

    .sidebar-navigation__link-text {
      display: none;
      width: 0px;
      overflow: hidden;
    }

    .sidebar-navigation__link {
      justify-content: center;
    }

    .sidebar-header-title {
      display: none;
      width: 0px;
      overflow: hidden;
    }

    .add-wallet__text {
      display: none;
      width: 0px;
    }

    .logout-text {
      display: none;
      width: 0px;
    }

    .wallet-dropdown {
      .MuiSelect-icon {
        display: initial;
      }
    }

    .wallet-dropdown__value {
      display: none;
      width: 0px;
    }

    .sidebar-empty-state__outer {
      display: none;
    }

    .sidebar-empty-state__title {
      display: none;
    }

    .sidebar-empty-state__collapsed-button {
      display: block !important;
    }
  }
}

.sidebar-animation-exit-active {
  transition: transform 400ms;
  transform: translateX(-110%);

  @screen lg {
    transition: width 400ms ease-in-out;
    transform: none;
    width: 300px;

    .sidebar-navigation__link-text {
      display: inherit;
      transition: width 400ms ease-in-out;
      width: 100%;
      overflow: hidden;
    }

    .sidebar-navigation__link {
      justify-content: initial;
    }

    .sidebar-header-title {
      display: inherit;
      transition: width 400ms ease-in-out;
      width: 100%;
      overflow: hidden;
    }

    .add-wallet__text {
      display: inherit;
      transition: width 400ms ease-in-out;
      width: 100%;
    }

    .logout-text {
      display: inherit;
      transition: width 400ms ease-in-out;
      width: 100%;
    }

    .wallet-dropdown__value {
      display: inherit;
      transition: width 400ms ease-in-out;
      width: 100%;
    }

    .sidebar-empty-state__outer {
      display: none;
    }

    .sidebar-empty-state__title {
      display: none;
    }

    .sidebar-empty-state__collapsed-button {
      display: block !important;
    }
  }
}

.sidebar-animation-exit-done {
  transform: translateX(-110%);

  @screen lg {
    transform: none;
    width: 300px;

    .sidebar-navigation__link-text {
      overflow: hidden;
      width: 100%;
    }

    .sidebar-header-title {
      overflow: hidden;
      width: 100%;
    }

    .add-wallet__text {
      width: 100%;
    }

    .logout-text {
      width: 100%;
    }

    .wallet-dropdown__value {
      width: 100%;
    }

    .sidebar-empty-state__outer {
      display: block;
    }

    .sidebar-empty-state__title {
      display: block;
    }

    .sidebar-empty-state__collapsed-button {
      display: none !important;
    }
  }
}
